nav {
    margin: 0 0 0 0;
    font-family: Arial;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #d2e7f8;
 }
 nav ul{
    list-style: none;
 }
 nav ul li {
    float: left;
    width: 20%;
 }
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content{
    margin: 80px 80px;
    background: #d2e7f8;
    border: 2px solid #d2e7f8 ;
    padding: 10px;
    -webkit-box-shadow: 0 0 10px #ccc;
        box-shadow: 0 0 10px #ccc;
        padding: 100px 100px;

}

#content h1{
    margin: 30px 0;
}

#content h2,h3{
    padding: 10px 0px;
}

ol,ul{
    padding: 0px 20px
}

.color-green{
    color:green;
}

ul p{
    text-align: center;
}
